
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

hr {
  border-top: 1px solid black;
}

.w3-row-padding img {margin-bottom: 12px}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px;
  /* light grey side panel */
  background: #D3D3D3;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

.img-circle {
    border-radius: 50%;
}

.piechart {
  /* max-width: 100%;
  height: auto; */
  width: 900px;
  height: 500px;
}

/* Allows the PieChart to act responsible on mobile devices with res <= 1024px*/
@media only screen and (max-width: 1024px) {
  .piechart {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

video {
  max-width: 100%;
  height: auto;
}

.videoWrapper{
  margin: 1em 40px;
}

/* Allows the Youtube iframe to act responsible on mobile devices */
/* from https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
@media only screen and (max-width: 600px) {
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
  }

  .videoWrapper iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}
/* ------------- */

/* TABLE style */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}
/* ------------- */

/* Footer PayPal tooltip */
.tooltiptext {
  /* font: Verdana; */
  font-size: 15px;
  line-height: 1.5;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* ------------- */
